.display {
    display: flex;
}

.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {          
    position: absolute;
    height: 200px;
    width: 300px;
    top: 450px;
    left: 0px;
    z-index: 1;
  }
  
  .speach {
    font-size: 25px;
    line-height: 500px;
    position: absolute;
    z-index: 2;
    top: 260px;
    left: 20px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 290px;
    top: 600px;
  }