      h1 {
        font-family: sans-serif;
        font-size: 45px;
        color: orange;
        text-align: center;
      }

      body {
        background-color: rgb(255, 400, 200);
        font-size: 16px;
      }

      ul {
        background-color: red;
        font-size: 20px;
      }
      p {
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
      }
      .classe {
        background-color: aquamarine;
      }

      .a {
        font-size: 40px;
        color: white;
        text-decoration: underline;
        -webkit-text-stroke: 0.5px black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

      }

      #amarelo {
        color: yellow;
      }

      #branco {
        color: white;
      }

      #marrom {
        color: brown;
      }

      #verde {
        color: green;
      }

      #azul {
        color: blue;
      }