body {
    margin: 0;
    background-color: #219ebc;
}

nav {
    border: 1px solid green;
    height: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background-color: #fb8500;
}

nav ul {
    margin-top: 5px;
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
}

nav ul li:nth-of-type(1) {
    position: absolute;
    right: 75%;
    width: 150px;
}

nav ul li:nth-of-type(2) {
    position: absolute;
    right: 50%;
}

nav ul li:nth-of-type(3) {
    position: absolute;
    right: 25%;
}

nav a {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

article {
    position: relative;
    border: 1px solid black;
}

article h2 {
    text-align: center;
}

section {
    border: 1px solid pink;
}

h2, h3 {
    border: 1px solid black;
}

section:nth-of-type(1) {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid pink; 
}

table {
    border-spacing: 0px;
}

#sobre {
    text-align: center;
}

.caption {
    text-align: center;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}

td {
    border-top: none;
}

th {
    width: 120px;
}

th:nth-of-type(2) {
    width: 180px;
    border-left: none;
}

td:nth-of-type(2) {
    border-left: none;
}

td .italic {
    font-style: italic;
}

aside {
    display:inline-block;
    text-align: center;
    border: 1px solid black;
    margin-right: 20px;
    position: absolute;
    right: 0;
}

aside p {
    width: 250px;
}

ul li {
    height: 35px;
}

footer {
    bottom: 5px;
    text-align: center;
    padding-block: 6px;
    background-color: #023047;
    font-size: 20px;
    color: #fb8500;
}
